<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KakasiPlugin" version="${project.version}">
    <requires>
        <import plugin-id="org.openstreetmap.osmosis.core.plugin.Core" reverse-lookup="false" />
    </requires>

    <runtime>
        <library id="core" path="/classes" type="code" version="${project.version}">
            <export prefix="*" />
        </library>
    </runtime>

    <extension plugin-id="org.openstreetmap.osmosis.core.plugin.Core"
        point-id="Task" id="kakasi">
        <parameter id="name" value="kakasi" />
        <parameter id="class" value="org.villseriol.osmosis.kakasi.KakasiPluginLoader" />
    </extension>
</plugin>