Package: [[name]]
Version: [[version]]
Source: osmosis-kakasi
Section: utils
Priority: optional
Maintainer: Villseriol <villseriol@pm.me>
Uploaders: ey4180 <ey4180@villseriol.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://osmosis-kakasi.villseriol.org
Vcs-Browser: https://github.com/villseriol/osmosis-kakasi
Vcs-Git: https://github.com/villseriol/osmosis-kakasi.git
Rules-Requires-Root: no
Package: osmosis-kakasi
Architecture: all
Depends: osmosis, ${misc:Depends}
Description: [[description]]
